<div class="sm:w-420 flex-center flex-col">
  <img ngSrc="/assets/images/logo.svg" alt="logo" width="171" height="36" />
  <h2 class="h3-bold md:h2-bold pt-5 sm:pt-12">
    Create a new account
  </h2>
  <p class="text-light-3 small-medium md:base-regular mt-2">
    To use snapgram, Please enter your details
  </p>
  <form [formGroup]="signUpForm" class="flex flex-col gap-5 w-full mt-4"
    #form="ngForm" (ngSubmit)="signUp()">
    <div class="input-group">
      <label for="name" class="shad-form_label">Name</label>
      <input type="text" class="shad-input" formControlName="name" />
    </div>
    <div class="input-group">
      <label for="username" class="shad-form_label">Username</label>
      <input type="text" class="shad-input" formControlName="username" />
    </div>
    <div class="input-group">
      <label for="email" class="shad-form_label">Email</label>
      <input type="text" class="shad-input" formControlName="email" />
    </div>
    <div class="input-group">
      <label for="password" class="shad-form_label">Password</label>
      <input type="password" class="shad-input" formControlName="password" />
    </div>
    <app-button text="Sign Up" cls="mt-5 shad-button_primary"></app-button>
    <p class="text-small-regular text-light-2 text-center mt-2">
      Already have an account?
      <a
        routerLink="/auth/sign-in"
        class="text-primary-500 text-small-semibold ml-1">
        Log in
      </a>
    </p>
  </form>
</div>
